.meet-our-team__title {
  margin-bottom: 42px;
}

.meet-our-team__subtitle {
  width: 980px;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 88px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $main-text-font-size;
  line-height: $main-line-height;
  color: $main-grey-color;
}

.meet-our-team__item {
  flex: 0 0 381px;
}
