.socials {
  @extend %list;
  display: flex;
  justify-content: space-between;
  flex: 0 0 227px;
  opacity: 0;
  /* min-width: 227px; */
  /* flex-basis: 227px; */
  transition: opacity 200ms linear;
}

.socials__link {
  @include center-flex('all');
  width: 56px;
  height: 56px;
  background-color: #fce38a;

  &:hover,
  &:focus {
    background-color: $main-red-color;
  }

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: $white-color;
  }
}

.socials__icon {
  @extend %icon;
  width: 26px;
  height: 26px;
  fill: $main-red-color;
}
